# Basic Data Science Libraries
	 
numpy
pandas
scikit-learn
scipy
matplotlib

# Amazon requirements

pyathena
    
# Code Format
    
black
flake8
    
# Documentation
sphinx
poetry
myst_parser
sphinx-autoapi
sphinx-rtd-theme
